.vs/
tests/PaddyPowerBetfair.Common.Maybe.Tests.Unit/bin/
tests/PaddyPowerBetfair.Common.Maybe.Tests.Unit/obj/
*.ncrunchsolution
src/PaddyPowerBetfair.Common.Maybe/bin/
src/PaddyPowerBetfair.Common.Maybe/obj/
PaddyPowerBetfair.Common.Maybe/obj/
/.vscode
